@import url('reset.css');

body {
  background-color: black;
}

.banner {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%,
     rgba(49, 168, 221, 0) 100%),
      url(/assets/images/banner.png);

    position: absolute;
    width: 1440px;
    height: 605px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
}

.banner .banner-content {
    color: white;
    margin: auto;
    width: 600px;
    text-align: center;
}

.banner .banner-content h1 {
    width: 434px;
height: 47px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 47px;

background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent

}