@import url('reset.css');

body {
  background-color: black;
}

.banner {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%,
     rgba(49, 168, 221, 0) 100%),
      url(/assets/images/banner.png);

    position: absolute;
    width: 1440px;
    height: 605px;
    left: 0px;
    top: 0px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
}

.banner .banner-content {
    color: white;
    margin: auto;
    width: 600px;
    text-align: center;
}